header>.container-fluid{
    display:flex;
    flex-flow:row nowrap;
    position:fixed;
    top:0;
    z-index: 1;
    margin:0 auto;
    justify-content:flex-end;
    align-items:center;
    min-height: 5em;
    width:100%;
    background-color: #333;
    color:lavender;
}	
a.header{
    color:lavender;
}
header>.col-sm{
    background-color: #333;
    height:100%;
    padding:auto;
    z-index:2;

}
header>.col-md-auto{
    background-color: #333;
    height:100%;
    z-index:2;
}
article>.container-fluid{
    top:auto;
    margin: auto;
    position:relative;
    margin:0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(90, 88, 88);
    background: #d3d3d3;
	font-size: 1em;
	line-height: 1.5em;
    top:5em;
    left:0;
    
}

h1,h2,h3,h4{
    font-style: italic;
    font-weight: bold;
    text-decoration:underline
}
h2,h3,h4{
    text-align: left;
}
h1 {
	font-size: 2.3em;
    margin-bottom:1.3em;
	text-align: center;
}	
h2 {
	font-size: 2em;
    margin-bottom:1.1em;
}
h3 {
    font-size: 1.5em;
    margin-bottom:0.8em;
}
h4 {
    font-size: 1.1em;
    margin-bottom:0.5em;
}
main>li{
    font-style: italic;
    margin-right: 1.5em;
}
main>img{
	max-width: 100%;
	height: auto;
    margin: 2em auto;
}

body>img.img-fluid{
    max-width: 100%;
    height:auto;

}


.redSocial{
   
    max-width: 8mm;
    padding:0;
    
}
h2.col-sm{
    text-align: center;
}
div.col-auto{
    padding:0;
    display:inline;
    flex-flow: row;
}


main p{
    text-indent:1em;

}
.img-fluid{
    display: flex;
    margin:auto;
}
main{
    padding:1.5em;
    text-align: justify;
    background-color: lavenderblush;
    overflow:-moz-hidden-unscrollable;
    overflow:hidden
}
aside{
    background-color: rgba(255, 240, 245, 0.788);
    max-height:inherit;
    font-style: italic;
    right:0;
    top:5em;
    display:flex;
    overflow:-moz-hidden-unscrollable;
    overflow:hidden;
    position:sticky;
    

}
aside ul {
    list-style: none;
    text-align: left;
    padding:0 1vh;
}

table{
    overflow: visible;
    font-style: italic;
    text-align:center;
    color:rgb(53, 53, 59);
    margin:1em auto;
    border:2px;
    border-color:gray;
    border-style:solid;
    width:100%;
}
table thead{
    text-align: center;
    background-color:rgb(211, 255, 220); 
    border:2px;
    border-color:gray;
    border-style:solid;
}
td,th{
    border:1px;
    padding: 0em 0.5em;
    border-color:gray;
    border-style:solid;
    text-align:center
}
td.left,th.left{
    text-align:left
}
table>tr:nth-child(odd){
    background-color: rgb(255, 255, 198);
}
table>tr:nth-child(even){
    background-color: rgb(247, 247, 247);
}

footer>.row{
    display:flex;
    flex-flow:row nowrap;
    position:sticky;
    bottom:0;
    z-index: 1;
    margin:0 auto;
    justify-content:flex-end;
    align-items:center;
    min-height: 5em;
    width:100%;
    background-color: #333;
    color:ivory;
    text-align:justify;
    
}	
p.foot{
    text-indent:2em;
}    
